body {
    background-color: white;
    color: black;
}
a {
    color: black;
}
.alert {
    background-color: rgba(255, 255, 255, 0.8);
}
form input,select {
    color: black;
}
footer{
  color: black;
}
.downTile, .downTile p {
    background: rgba(255, 255, 255, 0.8);
}
.example_pic p, .allerIci{
    background-color: rgba(255, 255, 255, 0.8);
}
#checkBooking {
    background-color: rgba(255, 255, 255, 0.8);
}
#downTile2 div {
    background: rgba(255, 255, 255, 0.8);
}

form input.buscar {
    background: rgba(255, 255, 255, 0.5);
    border-left: solid black 3px;
    border-right: solid black 3px;
    caret-color: black;
}
input::placeholder {
    color: black;
}
textarea {
    color: black;
}
textarea::placeholder {
    color: black;
}
/*section.mapa {
    background-image: url("/img/light_mode/map2.jpg");
}*/
nav.filtros{
    background-color: rgba(255,255,255,0.8);
}
.pestana {
    background-color: rgba(255,255,255,0.8);
}
.articulosPrincipales p {
    background-color: rgba(255, 255, 255, 0.75);
}
.propDetails {
    background: rgba(255, 255, 255, 0.9);
}
#middleColumn {
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
}
.ownerName {
    background: rgba(255, 255, 255, 0.8);
}
.infoFavoritos {
    background-color: rgba(255, 255, 255, 0.75);
}
.quickMessenger {
    background: rgba(255, 255, 255, 0.8);
}
.editBookingTab, .editPropTab, .closeFav, .messageIcon, #closeMessenger {
    background: rgba(255, 255, 255, 0.8);
}
#sendQuickMessageLabel {
    background: rgba(255, 255, 255, 0.8);
}
.panelFavoritos {
    background:rgba(179,181,167,1);
}
.panelLogin{
  background: rgba(149,143,121,1);
}
.panelInfo{
  background: rgba(241,183,133,1);
}
section.agregarDepto {
    background-color: rgba(255,255,255,0.8);
}
section.formularioAgregar {
    background-color: rgba(255,255,255,1);
}
section.formularioEliminar {
    background-color: rgba(255,255,255,1);
}
#bookButton {
    background-color: rgba(255, 255, 255, 0.8);
}
.qs-datepicker-container {
    background: rgba(0,0,0,0.1) !important;
    color: black !important;
}
.qs-datepicker .qs-square.qs-active {
    background: rgba(0,0,0,0.3) !important;
}
.qs-datepicker .qs-square.qs-range-date-middle {
    background: rgba(0,0,0,0.2) !important;
}

@media (min-width: 700px) {

    a:hover {
        color: red;
    }
    .aceptar:hover {
        color: red;
    }
    .pestana:hover {
        background-color: white;
    }
    .panelInfo .conectarse:hover {
        color: red;
    }
    label.file:hover, label.checkbox:hover {
        color: red;
    }
    .panel .alertaContrasena {
        color: red;
    }
    .panelLogin .olvide:hover {
        color: red;
    }
    
}
