@keyframes trans-x {
    from {width: 0px}
    to {width: 400px}
}
@keyframes trans-x2 {
  from {left: 7%}
  to{left: 60%}
}
@keyframes trans-y {
    from {top: -100px}
    to {top: 20px}
}
@keyframes trans-y2 {
    from {margin-top: 1000px}
    to {margin-top: 200px}
}
@keyframes opac {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes opacInv {
    from {opacity: 1; z-index: 9999999}
    to {opacity: 0; z-index: -9999999;}
}
@keyframes mov {
    from {background-position: 20% 0%;}
    to{background-position: 20% 100%;}
    
}

@keyframes slide {
    from {height: 0px; opacity: 0}
    to {height: 200px; opacity: 1}
}
@keyframes slide-2 {
    from {height: 0px; opacity: 0}
    to {height: 30px; opacity: 1}
}


body {
    font-family:'Titillium Web', sans-serif;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}
h5 {
    font-size: 15px;
}

header {
    position: fixed;
    height: 30px;
    padding: 10px;
    z-index: 10000;
}
header h1 {
    color: rgba(104,128,131,1);
    font-family: 'Plaster', cursive;
    font-size: 50px;
    margin: 0;
    position: fixed;
    top: 10px;
    left: 20px;
    line-height: 50px;
    z-index: 10000;
}
form input,select,textarea {
    font-family:'Titillium Web', sans-serif;
    height: 30px;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    border-radius: 0;
    padding: 0;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
#sendAvatar {
    border: none;
    margin-bottom: 16px;
}
.agregarDepto form select {
    color: grey;
}

form .aceptar {
    text-align: left;
    border: none;
    font-size: 20px;
}

footer{
    height: 250px;
    width: 95%;
    position: fixed;
    bottom: 20px;
    z-index: 11;
    left: 20px;
    animation-name: opac;
    animation-duration: 4s;
}
.example_pic {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.example_pic p{
    font-family: monospace;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 10px;
    transition: opacity 0.5s;
}
.allerIci {
    height: 100%;
    padding-top: 105px;
    font-size: 20px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.downTile {
    background-size: cover !important;
    background-position: center !important;
    box-sizing: border-box;
    position: fixed;
    opacity: 1;
    animation-name: opac;
    animation-duration: 4s;
}
.downTile p {
    box-sizing: border-box;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 5px;
}
.downTile p#upcomingStayDate {
    padding: 0;
    padding-bottom: 5px;
    font-size: 16px;
}
#downTile2 {
    text-align: center;
}
#downTile2 img {
    display: block;
    margin: auto;
    height: 50px; 
    position: absolute;
    left: 36px;
    top: 36px;
}
#downTile2 span {
    display: block;
    transition: opacity 0.5s;
}
#downTile2 div {
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.nextBookingOk p{
    transition: opacity 0.5s;
}
#checkBooking {
    box-sizing: border-box;
    font-size: 20px;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 105px;
    transition: opacity 0.5s;
}
#downTile1 {
    left: 525px;
    width: 250px;
    height: 250px;
    bottom: 20px;
}
#downTile2 {
    left: 780px;
    width: 122.5px;
    height: 122.5px;
    bottom: 20px;
}
#downTile3 {
    left: 780px;
    width: 122.5px;
    height: 122.5px;
    bottom: 147.5px;
}

nav.encabezado {
    position: fixed;
    right: 20px;
    top: 20px;
    animation-name: trans-y;
    animation-duration: 2s;
    display: flex;
    flex-direction: column;
}
nav.encabezado div {
    margin-left: 10px;
    display: inline-block;
}
nav.encabezado div img {
    margin-bottom: 10px;
    height: 30px;
}
#fotoDeUsuario {
    width: 30px;
    border-radius: 15px;
}

form#formBuscar {
    position: fixed;
    width: 50%;
    top: 75px;
    box-sizing: border-box;
    z-index: 10000;
    height: 60px;
    overflow: hidden;
}
form input.buscar {
    display: inline-block;
    margin: 0;
    margin-left: 20px;
    font-family: monospace;
    height: 60px;
    width: 400px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 30px;
    border-radius: 0;
    animation-name: trans-x;
    animation-duration: 1s;
}
form #lupa {
    margin-left: 10px;
    height: 30px;
    position: relative;
    top: 8px;
    left: -50px;
}
input::placeholder {
    opacity: 0.6;
}
textarea::placeholder {
    opacity: 0.6;
}

nav.filtros {
    position: absolute;
    width: 90%;
    font-size: 20px;
    font-family: monospace;
    display: none;
    padding-right: 10px;
    vertical-align: bottom;
    animation-name: opac;
    animation-duration: 3s;
}
nav.filtros input {
    display: inline-block;
    font-size: 20px;
    font-family: monospace;
    text-align: right;
}
nav.filtros label {
    width: 0;
    display: inline-block;
}
nav.filtros span, nav.filtros img, nav.filtros input {
    display: inline-block;
    transform: translateY(5px);
}
#cantidadDePersonas {
    width: 20px;
}
#cantidadDeM2 {
    width: 50px;
}
#quePrecio {
    width: 75px;
}

nav.filtros img{
    position: relative;
    bottom: -2px;
    height: 20px;
}

section.mapa {
    position: fixed;
    top: 0;
    background-size: 400%;
    background-repeat: no-repeat;
    background-position: 25% 0%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: mov 500s infinite linear alternate;
}

.seccionPrincipalArticulos {
    display: none;
    position: relative;
    margin-top:200px;
    animation-name: trans-y2;
    animation-duration: 2s;
    z-index: 20;
}
.pestana {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    text-align: right;
    margin-bottom: 3px;
    animation-name: slide-2;
    animation-duration: 0.5s;
}
.pestana:hover {
    cursor: pointer;
}
.closeTab, .editBookingTab, .editPropTab, .closeFav, .messageIcon, #closeMessenger {
    margin-left: 5px;
    display: inline-block;
    font-size: 35px;
    line-height: 20px;
    transform: translateY(2px);
}
.messageIcon {
    margin-left: 10px;
}
.editBookingTab, .editPropTab, .messageIcon {
    font-size: 30px;
    margin-top: 5px;
}
#cancelBooking input{
    font-size: 18px;
}
.editBookingTab, .editPropTab, .closeFav, .messageIcon, #closeMessenger {
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
}
.closeFav {
    line-height: 25px;
    margin-top: 5px;
}

.articulosPrincipales {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 3px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    animation-name: slide;
    animation-duration: 0.5s;
    z-index: 25;
}
.articulosPrincipales .favorito {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    height: 30px;
    transition: opacity 0.5s;
    z-index: 40;
}
.flecha {
    position: absolute;
    z-index: 35;
    top: 45%;
    height: 40px;
    display: none;
}
.flechaIzq {
    left: 0px;
    transform: rotate(180deg);
}
.flechaDer {
    right: 0px;
}
.articulosPrincipales p {
    box-sizing: border-box;
    position: absolute;
    padding: 10px;
}
.infoPrevia {
    position: relative;
    z-index: 30;
    transition: right 0.5s;
    right: -100%;
    margin: 10px;
    text-transform: uppercase;
}
.infoCompleta {
    width: 100%;
    opacity: 0;
    bottom: 0;
    margin: 0;
    left: -100%;
    z-index: 998;
}
#slideUp {
    font-size: 40px;
    font-family: monospace;
    opacity: 0.3;
    display: block;
    height: 20px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}
#slideDown {
    font-size: 40px;
    font-family: monospace;
    opacity: 0;
    display: block;
    height: 20px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%) rotate(180deg);
}
.propDetails {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
}
.propDetails h3 {
    margin-top: 12px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.propDescription {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 10%;
    padding: 10px;
}
.propEquipments {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}
.propEquipments h5 {
    margin: 0px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}
.descriptionColumn {
    box-sizing: border-box;
    height: 90%;
    width: 33%;
    padding: 10px;
    display: inline-block;
}
.rightTab {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 10%;
    background: black;
}
.propComments {
    display: inline-block;
    position: relative;
    top: -101.5%;
    right: -102.5%;
    height: 100%;
    width: 100%;
}
.profile {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    position: absolute;
    left: 10px;
    top: -442px;
    z-index: 999;
}
.ownerName {
    box-sizing: border-box;
    overflow: hidden;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    left: 25px;
    top: -442px;
    padding-left: 25px;
    padding-right: 15px;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
    z-index: 998;
}

.retorno {
    height: 35px;
    position: fixed;
    top: 18px;
    left: 100%;
}

.panel {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.panelFavoritos {
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 20px;
}

.articulosFavoritos {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 1% 1%;
    border-radius: 50%;
    overflow: hidden;
}
.favOpac {
    transition: opacity 0.5s;
}
.infoFavoritos {
    display: none;
    position: relative;
    z-index: 30;
    margin-top: 60%;
    padding-top: 5px;
    text-align: center;
    width: 100%;
    height: 30%;
    opacity: 0;
    line-height: 20px;
    box-sizing: border-box;
}
.quickMessenger {
    position: absolute;
    top: -22.5%;
    left: 2.5%;
    width: 95%;
    height: 22.5%;
    overflow: hidden;
}
.quickMessenger textarea {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    font-size: 16px;
}
#closeMessenger {
    position: absolute;
    height: 30px;
    top: 26.25%;
    left: 1%;
    font-size: 35px;
    opacity: 0;
    display: inline-block;
    line-height: 25px;
    overflow: hidden;
}
#sendQuickMessageLabel {
    position: absolute;
    height: 30px;
    top: 27.5%;
    left: 15.5%;
    opacity: 0;
    display: inline-block;
    line-height: 25px;
    overflow: hidden;
    border-radius: 15px;
    padding: 0 10px;
    box-sizing: border-box;
    padding-top: 3px;
}

label.file, label.checkbox {
    font-size: 15px;
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
    display: block;
    width: 100%;
}
label.file {
    margin: auto;
}
label.file:hover, label.checkbox:hover {
    cursor: pointer;
}
input.file {
    display: none;
}
input.subir {
    display: none;
}
.panelLogin form img {
    height: 15px;
    margin-top: 5px;
}
.panelLogin select {
    width: 100%;
}
.panelLogin h2,h5 {
    text-transform: uppercase;
}
.panelLogin .social{
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
}
.formLogin, .formRegistro {
  position: relative;
  width: 100%;
  z-index: 500;
}
.formLogin input, .formRegistro input{
    position: relative;
    margin-top: 20px;
}
.panel .alertaContrasena {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.panelLogin .olvide:hover {
    cursor: pointer;
}
.panelLogin .emailOlvide {
    opacity: 0;
    display: none;
}

.panelInfo h2,h5 {
    text-transform: uppercase;
}
.panelInfo div.preguntasFrecuentes{
  position: relative;
  width: 85%;
  left: 20px;
}

.panelInfo ul .pregunta {
    font-weight: bold;
}
.panelInfo ul .pregunta:hover {
    cursor: pointer;
}

.panelInfo ul .respuesta {
    opacity: 0;
    display: none;
    font-weight: normal;
}

.formInfo {
    position: relative;
    width: 100%;
    z-index: 500;
}
.formInfo input {
    position: relative;
    margin-top: 20px;
}
.formInfo textarea{
    background: none;
    position: relative;
    width: 90%;
    border: 1px solid grey;
    outline: none;
}

section.agregarDepto {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    opacity: 0;
}
section.agregarDepto h1 {
    margin-left: 50px;
    font-size: 25px;
}
section.formularioAgregar {
    margin: auto;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}
section.formularioAgregar img {
    height: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 2px;
}
section.formularioAgregar form input,section.formularioAgregar form select,section.formularioAgregar form label {
    width: 400px;
}
section.formularioAgregar form label {
    margin-bottom: 18px;
}

section.formularioEliminar {
    margin: auto;
    width: 100%;
    height: 15vh;
    padding-top: 20px;
    text-align: center;
}
section.formularioEliminar h1 {
    width: 100%;
    text-align: center;
    margin: 0;
}
section.formularioEliminar input {
    display: inline-block;
    text-align: center;
    width: 50px;
    margin: 20px;
}

.forum {
    border-bottom: solid grey 1px;
}
.comentario {
    margin-bottom: 10px;
    margin-top: 0;
}
.autorComentario {
    margin-top: 10px;
    margin-bottom: 0;
}
.fechaComentario {
    margin-top: 0;
    font-size: 10px;
}
#bookButton {
    position: absolute;
    right: 0px;
    font-weight: bold;
    padding: 12px;
    transform: translateY(-9px);
    display: inline-block;
    z-index: 10000;
    z-index: 999;
}

.qs-datepicker-container {
    font-size: 1.192rem !important;
    height: 250px;
    font-family: 'Titillium Web' !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.qs-datepicker-container:first-of-type {
    border-right: 4px solid lightgrey !important;
}
.qs-datepicker .qs-controls {
    background: none !important;
}
.qs-datepicker .qs-square {
    border-radius: 0 !important;
}
.qs-datepicker .qs-squares {
    padding: 0 !important;
}
#dateIn, #dateOut {
    display: inline-block;
    width: 298px;
    border: none;
    text-indent: 10px;
    font-weight: bolder;
}

@media (min-width: 700px) {

    form #lupa:hover {
        cursor: pointer;
    }

    .aceptar:hover {
        cursor: pointer;
    }

    nav.encabezado {
        flex-direction: row;
    }
    nav.encabezado div:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    nav.encabezado div img {
        margin-bottom: 0;
    }

    footer {
        width: 500px;
    }

    .pestana:hover {
        cursor: pointer;
    }
    .seccionPrincipalArticulos {
        width: 50%;
    }
    .articulosPrincipales .favorito:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    .articulosPrincipales .favorito:active {
        transform: scale(1.0);
    }

    .articulosPrincipales p {
        display: block;
    }
    .articulosPrincipales:hover {
        cursor: pointer;
    }
    .articulosPrincipales .flecha:hover {
        cursor: pointer;
    }
    .articulosPrincipales:hover > p.infoPrevia {
        right: 0;
    }
    footer:hover {
        cursor: pointer;
    }
    footer:hover > .example_pic p {
        opacity: 0;
    }
    footer:hover > .allerIci {
        opacity: 1;
    }
    .nextBookingOk:hover > p {
        opacity: 0;
    }
    .nextBookingOk:hover > #checkBooking {
        opacity: 1;
    }
    .nextBookingOk:hover {
        cursor: pointer;
    }

    #downTile2:hover {
        cursor: pointer;
    }
    #downTile2:hover > div {
        opacity: 1;
    }
    #downTile2:hover > span {
        opacity: 0;
    }

    .retorno:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    .articulosFavoritos:hover {
        cursor: pointer;
    }
    .favOpac:hover {
        opacity: 0.5;
    }

    .panelLogin {
        width: 28%;
        padding-top: 50px;
        right: -30%;
    }
    .panelLogin form img:hover {
        cursor: pointer;
        opacity: 0.5;
    }
    .panelFavoritos {
        width: 28%;
        padding-top: 50px;
        right: -30%;
    }
    .panelInfo{
        width: 28%;
        padding-top: 50px;
        right: -30%;
    }

    section.formularioAgregar {
        width: 500px;
    }
    section.formularioAgregar .cerrar:hover {
        cursor: pointer;
        opacity: 0.5;
    }
    section.formularioEliminar {
        transform: translateY(200%);
        width: 500px;
    }
    .panelInfo .conectarse:hover {
        cursor: pointer;
    }
    #bookButton:hover {
        background-color:rgba(104,128,131,0.3);
    }
    #bookPropForm section, #bookEditForm section {
        width: 600px;
    }
    .closeTab:hover, .editBookingTab:hover, .editPropTab:hover, .messageIcon:hover, .closeFav:hover, #closeMessenger:hover {
        opacity: 0.5;
        cursor: pointer;
    }
    #sendQuickMessageLabel:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}
